<form class="form-inline" action="/compose" method="post">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3">User</label>
      <input type="text" class="form-control" name ="username" placeholder="username">
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputPassword3">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Sign in</button>
  </form>