<%- include('partials/header.ejs') %>
<body>
    <h1>Compose</h1>
    <%- include('partials/compose-form.ejs') %>
    <%- include('partials/footer.ejs') %>
</body>
<%- include('partials/footer.ejs') %>